{% extends "base.html" %}
{% load static %}

{% block titulo_principal %}
{{ saludo }}
<ul>
            <li><a href="http://127.0.0.1:8000/nuevo-autor"> Nuevo autor</a></li>
            <li><a href="http://127.0.0.1:8000/autores"> Listado de autores</a></li>      
            <li><a href="http://127.0.0.1:8000/clientes"> Listado de clientes</a></li>
            <li><a href="http://127.0.0.1:8000/localidades"> Listado de localidad</a></li>
            <li><a href="http://127.0.0.1:8000/ingresoPelicula">Ingreso de pelicula</a></li>
</ul>

{% endblock %}


    